<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" placeholder="Input Format;<String>
        <String2>
        <String3>
        ..... " rows="10" cols="30">
        </textarea>
         <textarea name="input4" placeholder="Input Format;<String>
        <String2>
        <String3>
        ..... " rows="10" cols="30">
        </textarea>
        <textarea name="input2" placeholder="<Number>" rows="10" cols="30">
        </textarea>
        <textarea name="input3" placeholder="<Number>" rows="10" cols="30">
        </textarea>
        <br>
        <br>
        <input type="submit">
  </form>

