<title>WOW</title>
  <h1>Welcome to my misty world!!</h1>
    Current Result is:  {{result}}


  <form action="compute" method="post">
        <textarea name="input1" placeholder="Strings Input Format:
<String>
<String2>
<String3>
... " rows="10" cols="30" style="background-color:#01CCFE;"></textarea>
         <textarea name="input4" placeholder="Strings Input Format:
<String>
<String2>
<String3>
... " rows="10" cols="30" style="background-color:#01CCFE;"></textarea>
        <textarea name="input2" placeholder="Lower Bound Input Format:
<Number>" rows="10" cols="30" style="background-color:#48296C;"></textarea>
        <textarea name="input3" placeholder="Upper Bound Input Format:
<Number>" rows="10" cols="30" style="background-color:#48296C;"></textarea>
        <br>
        <br>
        <input type="submit">
  </form>

